@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Para Saber Mais Acesse Nosso <a target="_blank" href="https://github.com/Kayky933">GitHub</a>.</p>
</div>
